@page "/"

<PageTitle>Revisión Técnica Obligatoria - RTO</PageTitle>

<div class="content">
    <h1>Revisión Técnica Obligatoria - RTO</h1>
    <p>La Revisión Técnica Obligatoria (RTO) es una inspección mecánica esencial que examina minuciosamente el estado de tu vehículo para garantizar su seguridad. Este proceso asegura que tu vehículo cumpla con las condiciones mínimas necesarias para proteger no solo a ti y a tus pasajeros, sino también a otros usuarios de la vía pública. Además, la RTO mide los niveles de contaminación del vehículo, verificando que se mantengan dentro de los límites reglamentarios establecidos. En resumen, es una evaluación integral que promueve la seguridad vial y el respeto al medio ambiente..</p>

    <img src="https://www.argentina.gob.ar/sites/default/files/rto_2023.jpg" class="img-fluid" alt="Imagen Cargando">

    <h2>Revisión Técnica Obligatoria 2023</h2>
    <p>El sistema Nacional de Revisión Técnica Obligatoria se encuentra regulado por la Ley 24449 en su artículo 34 y su correspondiente reglamentación, artículo 34 inciso 1 del Anexo I del Decreto Nº 779/1995, modificado por el artículo 39 del Anexo I del Decreto 1716/2008.</p>

    

    <h3>¿Quiénes deben realizar la RTO?</h3>
    <p>Todos los vehículos que integran las categorías L, M, N y O deberán tener aprobada la RTO para poder circular por la vía pública.</p>


    <ul>
        <li><strong>Categorías L:</strong> Vehículo automotor con menos de 4 ruedas (motos y triciclos).</li>
        <li><strong>Categorías M:</strong> Vehículo automotor que tiene por lo menos 4 ruedas, o que tiene 3 ruedas cuando el peso máximo excede 1000 kg y es utilizado para transporte de pasajeros.</li>
        <li><strong>Categorías N:</strong> Vehículo automotor que tiene por lo menos 4 ruedas, o que tiene 3 ruedas con un peso máximo de 1000 kg y es utilizado para transporte de carga.</li>
        <li><strong>Categorías O:</strong> Acoplados (incluyendo semiacoplados), semirremolque.</li>
    </ul>

    <h3>¿Cuándo tenés que realizar la RTO?</h3>
    <ul>
        <li><strong>Motos:</strong> A partir del primer año de antigüedad.</li>
        <li><strong>Vehículos de uso particular:</strong> A partir de los 3 años desde la fecha de patentamiento original.</li>
    </ul>

    <h3>¿Cuándo se renueva?</h3>
    <ul>
        <li><strong>Motos:</strong> Todos los años.</li>
        <li>
            <strong>Vehículos de uso particular:</strong>
            <ul>
                <li>Desde los 3 hasta los 7 años de antigüedad: cada 2 años.</li>
                <li>Más de 7 años de antigüedad, sin límite: anualmente.</li>
            </ul>
        </li>
    </ul>

    <h3>¿Dónde se realiza?</h3>
    <p>La revisión se realiza en el taller habilitado correspondiente a la jurisdicción donde se encuentra radicado tu automóvil.</p>

    <h3>¿Qué documentación debés presentar?</h3>
    <ul>
        <li>DNI.</li>
        <li>Licencia de conducir acorde con el vehículo.</li>
        <li>Constancia de cobertura de seguro.</li>
        <li>Para vehículos con GNC, tenés que presentar habilitación del equipo de gas.</li>
    </ul>
    <p>El trámite lo puede realizar cualquier persona presentando Cédula Verde o Cédula Azul y Documento Nacional de Identidad.</p>
</div>
