@page "/vehiculos"
@rendermode InteractiveServer

<PageTitle>Vehiculos</PageTitle>
<h1> Vehiculos </h1>

<img src="https://media.istockphoto.com/id/1139968862/es/foto/barrera-en-construcci%C3%B3n.jpg?s=2048x2048&w=is&k=20&c=qWX4KirNJUI8emayvSUxCPPkwDbrroLWik0xVBwV4U0=" class="img-fluid" alt="Imagen Cargando">