@inherits LayoutComponentBase
@inject NavigationManager Navigation
<!--verifica pagina principal-->
<div class="page">
    @if (!Navigation.Uri.Equals(Navigation.BaseUri))
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
